* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(180deg, #ff8800 10%, #ff8800 100%);
}

/* navbar */
nav {
    top: 0;
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    /* padding: 20px 0; */
    height: 70px;
    color:#FFAE12;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

nav ul {
    border: 3px solid;
    border-color: #FFAE12;
    display: flex;
    list-style: none;
    width: 590px;
    justify-content: space-between;
    background:#fdfdfd;
    height: 50px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    align-items: center;
    border-radius: 10px;
}


nav ul li {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFAE12;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav ul li:nth-child(1) a:hover{
    color:#ffffff;
    background-color: #ff8800;
    border-radius: 5px;
}
nav ul li:nth-child(2) a:hover{
    color:#ffffff;
    background-color: #ff8800;
    border-radius: 5px;
}
nav ul li:nth-child(3) a:hover{
    color:#ffffff;
    background-color: #ff8800;
    border-radius: 5px;
}
nav ul li:nth-child(4) a:hover{
    color:#ffffff;
    background-color: #ff8800;
    border-radius:5px;
}

/* li:nth-child(1){
    width: 25%;
}
li:nth-child(2){
    width: 25%;
}
li:nth-child(3){
    width: 25%;
}
li:nth-child(4){
    width: 25%;
} */

nav .menu li a{
    color:#FFAE12;
    text-decoration: none;
    font-size: 1em; 
    padding: 15px 42px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    
}
nav .menu ul .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background-color: #ff8800;
    width: 100px;
}



nav .logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
}

nav .logo img {
    margin-right: 15px;
}

/* nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
} */


/* beranda */
section {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
    border-radius: 20px 20px 0 0;
}

.siger h3 {
    font-size: 2vw;
    text-align: center;
    color: #ff8800;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.siger img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 14%;
    width: 21%;
    margin-top: 10%;
}

section h3 {
    text-align: center;
    padding: 20px 0;
    color:#FFAE12;
    margin-bottom: 20px;
}

.beranda h4 {
    font-size: 2vw;
    color: rgb(100, 100, 100);
    word-spacing: 5px;
    text-align: justify;
    margin: 5%;
}



.beranda {
    /* padding-bottom: 100px; */
    margin: auto;
    width: 92%; 
    height: auto;
}

.beranda .container {
    margin: 30px auto;
    background-color: #FFFFFF;
    /* background-image: url(img/lampung.jpg) ; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 80%;
    height: 80%;
    opacity: 1;
    bottom: 100px;
}

.slidebar {
    display: flex;
    width: 92%;
    margin: auto;
}

.content {
    margin-top: 0;
    margin-right: auto;
    width: 40%;
    height: 40vw;
    border-radius: 10px;

    /* border: 1px solid; */;
}

.slidebar .text1 {
    margin: auto;
    /* border: 1px solid; */
    margin-left: 0;
    width: 30%;
    height: 40vw;
    /* background: url(img/pissang\ shamiya.jpg);
    background-size: cover; */
    background-color: #FFFFFF;
    border-radius: 0 0 0 20px;
    margin-bottom: 150px;
}

.slidebar .text2 {
    margin: auto;
    /* border: 1px solid; */
    margin-right: 0;
    width: 30%;
    height: 40vw;
    /* background: url(img/pissang\ shamiya.jpg);
    background-size: cover; */
    background-color: #FFFFFF;
    border-radius: 0 0 20px 0;
    margin-bottom: 150px;
}

.slider {
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
    position: absolute;
    width: 100%;
    margin-left: auto;
    height: 100%;
}

.slide1 {
    background: url(img/shamiya1.jpeg) no-repeat center;
    background-size: cover;
    animation: fade 40s infinite;
    -webkit-animation: fade 40s infinite;
}
.slide2 {
    background: url(img/shamiya2.jpeg) no-repeat center;
    background-size: cover;
    animation: fade 40s infinite;
    -webkit-animation: fade2 40s infinite; 
}
.slide3 {
    background: url(img/shamiya3.jpeg) no-repeat center;
    background-size: cover;
    animation: fade 40s infinite;
    -webkit-animation: fade3 40s infinite;
}
.slide4 {
    background: url(img/shamiya4.jpeg) no-repeat center;
    background-size: cover;
    animation: fade 40s infinite;
    -webkit-animation: fade4 40s infinite;
}
.slide5 {
    background: url(img/shamiya5.jpeg) no-repeat center;
    background-size: cover;
    animation: fade 40s infinite;
    -webkit-animation: fade5 40s infinite;
}
@keyframes fade {
    0%{opacity: 1;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fade2 {
    0%{opacity: 0;}
    20%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade3 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    60%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade4 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade5 {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    80%{opacity: 1;}
    100%{opacity: 0;}
} 

/* service */
.service {
    background-color: #ffffff;
    padding-bottom: 100px;
}
.contact {
    background-color: #ffffff;
    padding-bottom: 100px;
}


.box {
    color: #565757;
}

.box::after{
    content: '';
    display: block;
    clear: both;
}


.box .col-4 {
    width: 25%;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.box .col-2 {
    width: 50%;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}


.box .col-4 h4 {
    margin: 20px 0;
    text-align: center;
}

.box .col-2 h4 {
    margin: 20px 0;
    text-align: center;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color:#FFAE12 ;
    border-radius: 3px;
    transition: 0.4s;
}

/* nav ul li a:hover {
    color: #ff8800;
} */


/* responsive Breakpoint */
/* @media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
} */


/* Ukuran Mobile */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    nav .menu li a{
        color: #FFAE12;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:#ffffff;
        z-index: 0;
        transform: translateX(100%);
        transition: 0.3s;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
    
    nav ul li a:hover {
        color:#555555;
    }

}

.banner {
    margin: 14vh auto 0px;
    width: 92%;
    border-radius: 10px;
    width: 92%;
    height: 50vw;
    position: relative;
    z-index: -1;
}

.banner .gambar {
    background: url(img/banner2.jpeg) center;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset  4px 0px 4px rgba(0, 0, 0, 0.25);
}

.banner .gambar h5 {
    text-align: center;
    margin-top: 50%;
    font-size: 1vw;
    
}

.gambar a {
    text-decoration: none;
    color: #FFFFFF;
}

/* .banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */


/* Hamburger menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color:#FFAE12;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #FFAE12;
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

/* contact */
.containercontact {
    /* border: 1px solid; */
    width: 100%;
    height: 300px;
    margin: 10px;
}

.contact {
    /* position: relative; */
    position: absolute;
    width: 100%;
    height: 200px;
    border-radius: 0;
    z-index: -1;
    background: linear-gradient(180deg, #ff8800 0%, #FFAE12 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kotak {
    position: absolute;
    width: 131px;
    height: 131px;
    top: 50%;
    left: 20%;
    transform:translate(-50%,-50%);
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
}

.kotak ul {
    margin: 10px;
}

.kotak img {
    margin: 10px;
}

.kotak ul li a {
    text-decoration: none;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    
}

.kotak ul li h4{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.kotak ul li h5 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    width: 250px;
}

.kotak ul li ul {
    display: flex;
}

/* kotak2 */
/* .kotak2 {
    border: 1px solid;
    width: 50%;
    height: 200px;
    margin-left: 50%;
    background-color: #565757;
} */

/* footer */
footer .container {
    position: relative;
    top: 300px;
    margin: 0;
    height: 25px;
    width: 100%;
    background-color: #ff8800;
    color: white;
    text-align: center;
    bottom: 0;
    z-index: -1;
}


.bg-loader {
    background-color: #4e4e4ef1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: rgb(46, 46, 46);
    border-right-color: rgb(46, 46, 46);
    border-bottom-color: rgb(46, 46, 46);
    animation: muter .8s linear infinite;
}

@keyframes muter {
    100% {
        transform: rotate(360deg);
    }
}

.label {
    background-color: #858585;
    color: white;
}

.label p {
    margin-left: 10%;
}

/* Profile */
.text-profile {
    font-size: 2vw;
    padding-top: 10vw;
    color: #ff8800;
    text-align: center;
    margin: 0px auto;
    background-color: #FFFFFF;
    width: 92%;
}

.profile {
    /* border: 1px solid; */
    background-color: #FFFFFF;
    border-radius: 0px;
    width: 92%;
    margin: 0px auto;
    height: auto;
    flex-direction: column;
    padding-bottom: 8vw;
}

.profile .top {
    /* border: 1px solid; */
    border-radius: 0px;
    width: 92%;
    margin: 0px auto;
    height: 38vw;
    display: flex;
}

.profile .foto {
    background: url(img/profile1.jpeg);
    background-size: cover;
    /* border: 1px solid; */
    width: 40%;
    height: 28vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.profile .foto2 {
    background: url(img/profile2.jpeg);
    background-size: cover;
    /* border: 1px solid; */
    width: 40%;
    float: right;
    height: 28vw;
    margin-top: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.profile .bot {
    background-color: #FFFFFF;
    /* border: 1px solid; */
    width: 80%;
    height: auto;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

.profile .bot p {
    font-size:1em;
    color: rgb(100, 100, 100);
    word-spacing: 5px;
    text-align: justify;
    margin: 5%;
}


/* Belanja */
.menu .belanja {
    /* border: 1px solid; */
    width: 92%;
    border-radius: 0px;
    margin: auto;
    height: 70vw;
    text-align: center;
    border-radius: 0 0 100px 0;
}

.belanja h4 {
    color: #ff8800;
    font-size: 2vw;
    margin: auto;
    padding: 2vw;
}

.mid {
    /* border: 1px solid; */
    width: 92%;
    height: auto;
    margin: 0px auto auto;
    display: flex;
}

.mid .box {
    /* border: 1px solid; */
    width: 30%;
    height: 40vw;
    margin: auto;
    border-radius: 0px 0px 50px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box .kotak-gambar {
    /* border: 1px solid; */
    width: 100%;
    /* background: url(img/pisang1.jpg); */
    height: 24vw;
    /* background-size: cover; */
}

.kotak-gambar .gambar1 {
    background: url(img/pisang1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.kotak-gambar .gambar2 {
    background: url(img/pisang2.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}.kotak-gambar .gambar3 {
    background: url(img/pisang3.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.bot {
    border: 1px solid;
    height: 10px;
}

